:root {
  --main-color: #2196f3;
  --second-color: #feb745;
  --dark-color: #191919;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

.single-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.single-box {
  background-color: var(--dark-color);
  border-radius: 10px;
  box-shadow: 1px 3px 25px 2px var(--main-color);
  padding: 45px;
  margin: 15px 0;
  width: 950px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "images info"
    "images description";
  grid-gap: 35px;
}

.single-box .images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "active active active  "
    "idle idle idle  ";
  grid-gap: 10px;
}

.single-box .images .img-holder img {
  width: 75%;
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}

.single-box .images .img-holder.active {
  grid-area: active;
  left: -20px;
  z-index: 1;
}

.single-box .images .img-holder:not(.active):hover {
  opacity: 0.95;
  cursor: pointer;
}

.single-box .basic-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.single-box .basic-info h1 {
  font-size: 40px;
  font-weight: 800;
}
.adj {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-box .basic-info .rate {
  font-size: 25px;
  color: rgb(245, 183, 12);
}
.single-box .basic-info span {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
}

.around {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options a {
  color: white;
  background-color: var(--main-color);
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
}

.options a:hover {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.single-box .description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.single-box .description p {
  font-size: 20px;
  line-height: 1.5;
}

.single-box .description .social {
 
  list-style: none;
  display: flex;
  font-size: 25px;
}

.single-box .description .social a {

  margin-right: 25px;
  color: #fff;
}

.single-box .description .social a:hover {
  color: var(--main-color);
}

@media (max-width: 991px) {
  .single-box {
    width: 750px;
    grid-template-areas:
      "info info"
      "images description";
  }
  .single-box .basic-info .options a {
    padding: 8.5px 12px;
  }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .single-box .basic-info span {
    position: absolute;
    align-self: flex-end;
  }
  .single-box .basic-info .options {
    position: absolute;
    align-self: flex-end;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .single-box {
    width: 600px;
    grid-template-areas:
      "images info"
      "description description";
  }
  .single-box .images {
    gap: 3px;
  }
  .single-box .images .img-holder img {
    border-radius: 5px;
  }
}

@media (max-width: 640px) {
  .single-box {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 35px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "images"
      "info"
      "description";
  }
}
